.foodListContainer {
  margin: 0 auto;
  width: 20rem;
}
.foodCard {
  border-radius: 3px;
  box-shadow: 1px 1px 5px var(--shadow);
  margin: 1rem auto;
  overflow: hidden;
  animation: cardScale ease-in 0.4s;
  transition: 0.2s ease-in all;
  z-index: 2;
}

.foodCard:hover {
  transform: scale(1.03);
}

.foodCardBody {
  padding: 0.5rem;
}

.foodCardRate {
  font-weight: 700;
  color: rgb(253, 150, 15);
}

.foodSearchFieldContainer {
  margin: 0 auto;
  width: 20rem;
}

.foodSearchField {
  display: block;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--orange);
  outline: none;
}

.foodSearchField:focus-within {
  border: 1px solid var(--orange);
}

.foodSorterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes cardScale {
  from {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
