:root {
  --orange: rgb(253, 150, 15);
  --body: #fff;
  --text-color: #000;
  --shadow: rgb(201, 201, 201);
}

[data-theme="dark"] {
  --orange: rgb(253, 150, 15);
  --body: rgb(37, 37, 37);
  --text-color: #fff;
  --shadow: #000;
}

body {
  background-color: var(--body);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  transition: all ease-in 0.2s;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}

.toggleThemeButton {
  right: 1rem;
  position: fixed;
  top: 1rem;
}
